@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WEB_153503_Kakhnouski.styles.css" asp-append-version="true" />
</head>
<body>
   <header>
       <div class="container">
           <!-- Панель навигации -->
           <span class="nav-color"> Заголовок страницы</span>
       </div>
   </header>
   <main class="container">
       Cодержимое страницы
   </main>
    <footer>
        <div class="container">
            <span class="nav-color">
                Подвал страницы
            </span>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>

