@{
    var controller = ViewContext.RouteData.Values["controller"]?
            .ToString()?
            .ToLower()
            ?? String.Empty;
}


<a class="navbar-brand" href="#">15350048_Kakhnouski</a>
<div class="navbar-nav">
    <a class="nav-item nav-link @(controller=="home"?"active":"")" asp-controller="Home" asp-action="Index">Lab1</a>
    <a class="nav-item nav-link @(controller == "car" ? "active" : "")" asp-controller="Car" asp-action="Index">Каталог</a>
    <a class="nav-item nav-link" asp-area="Admin" asp-page="/Index">Администрирование</a>
</div>